<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.study.mapper.OverviewMapper">

    <select id="getPopularThing" resultType="java.util.HashMap">
        select A.thing_id, B.title, count(A.thing_id) as count
        from b_order A join b_thing B on A.thing_id=B.id
        group by A.thing_id
        order by count desc;
    </select>

    <select id="getPopularClassification" resultType="java.util.HashMap">
        select B.title, count(B.title) as count
        from b_thing A join B_classification B on A.classification_id = B.id
        group by B.title
        order by count desc limit 5;
    </select>

    <select id="getWebVisitData" parameterType="java.lang.String" resultType="com.gk.study.entity.VisitData">
        select re_ip, count(re_ip) as count
        from b_op_log
        <where>
        <if test="day != null">
            re_time like CONCAT('%',#{day},'%')
        </if>
        </where>
        group by re_ip
    </select>
</mapper>
