<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.study.mapper.ThingCollectMapper">

    <select id="getThingCollectList" parameterType="map" resultType="java.util.Map">
        select A.*, B.title, B.cover
        from b_thing_collect  A
        join b_thing  B on (A.thing_id=B.id)
        where A.user_id=#{userId}
    </select>

</mapper>
